[Desktop Entry]
Type=Application
Name=Void Linux Post Install TUI
Comment=Update and run the Void Linux Post Install TUI
Exec=bash -c "$HOME/Voidlinux-Post-Install-TUI/VOID-TUI-updater.sh"
Terminal=true
Icon=void-logo
Categories=System;Utility;
StartupNotify=false
